[user]
  name = Yusuke Shibata
  email = yusukeshib@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFHU+tFJRax7dVnTEiFM2+kwasijxiQ/GxXm0UqOXTTE

[push]
  default = current
  autoSetupRemote = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
  algorithm = histogram

[column]
  ui = auto

[init]
  defaultBranch = main

[commit]
  gpgsign = true

[gpg]
  format = ssh

{{- if eq .chezmoi.os "darwin" }}

[include]
  path = ~/.config/git/gitconfig_darwin
{{- end }}

[rerere]
  enabled = true

[pull]
  autoSetupRemote = true

[diff]
  tool = difftastic
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[difftool]
  prompt = false
[pager]
  difftool = true

[alias]
  dft = difftool -t difftastic
  d   = "-c diff.external=difft diff"
